@use "global" as *;

.campaign__image {
  max-width: rem(280);
  height: auto;
  width: 100%;
  @include mq("md") {
    max-width: rem(333);
  }
}


.campaign__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}