@use "global" as *;

.campaign {
  overflow: hidden;
}

.campaign__inner {
  position: relative;
}

.campaign__slide-button {
  position: relative;
  display: flex;
  width: rem(240);
  height: rem(80);
  position: absolute;
  top: 0;
  right: rem(25);
}

.campaign__button-prev {
  display: none;

  @include mq("md") {
    display: flex;
    margin: 0;
    width: rem(80);
    height: rem(80);
    top: 0;
    left: 0;
    border: 1px solid $green1;
    border-radius: 50%;
  }
}

.campaign__button-prev::after {
  content: "";
  background-image: url(../images/common/prev_btn.png);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  position: absolute;
  width: rem(40);
  height: rem(7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.campaign__button-next {
  display: none;

  @include mq("md") {
    display: flex;
    margin: 0;
    width: rem(80);
    height: rem(80);
    top: 0;
    right: 0;
    border: 1px solid $green1;
    border-radius: 50%;
  }
}

.campaign__button-next::after {
  content: "";
  background-image: url(../images/common/next_btn.png);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  position: absolute;
  width: rem(40);
  height: rem(7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.campaign__swiper {
  margin-right: calc(50% - 50vw);
  padding-bottom: rem(10);
}

.campaign__wrap {
  display: flex;
  margin-top: rem(26);

  @include mq("md") {
    margin-top: rem(40);
  }
}

.campaign__item {
  height: inherit;
}

.campaign__button {
  text-align: center;
  margin-top: rem(29);
  padding-bottom: rem(4);

  @include mq("md") {
    margin-top: rem(70);
  }
}