@use "global" as *;

.contact {
  position: relative;
}

.contact::after {
  content: "";
  background-image: url(../images/common/contact_fish.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: rem(109);
  height: rem(50);
  top: rem(-25);
  right: rem(14);

  @include mq("md") {
    width: rem(301);
    height: rem(138);
    top: rem(-50);
    right: calc(50% - min(48vw, rem(670)));
  }
}

.contact__content {
  @include mq("md") {
    padding: rem(69) 0 rem(83) 0;
    display: flex;
    gap: rem(81);
    background-color: $white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    align-items: center;
  }
}

.contact__info {
  padding: 0 rem(25);
  @include mq("md") {
    padding: 0 rem(82) 0 rem(50);
    width: 53%;
    margin: 0;
    border-right: 1px solid $green1;
  }
}

.contact__logo {
  border-bottom: 1px solid $green1;
  text-align: center;
  @include mq("md") {
    padding-bottom: rem(4);
  }
}

.contact__logo img {
  display: inline-block;
  width: rem(174);

  @include mq("md") {
    width: rem(200);
  }
}

.contact__address {
  margin-top: rem(16);

  @include mq("md") {
    margin-top: rem(26);
    display: flex;
  }
}

.contact__address-list {
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $regular;
  text-align: center;

  @include mq("md") {
    width: 146px;
    text-align-last: left;
  }
}

.contact__address-list:not(:first-child) {
  margin-top: rem(4);
}

.contact__address-map {
  margin-top: rem(16);
  text-align: center;

  @include mq("md") {
    margin-top: 0;
    width: rem(300);
    overflow: hidden;
    padding-left: rem(21);
  }
}

.contact__address-map iframe {
  aspect-ratio: 273 / 148;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contact__form {
  margin-top: rem(37);
  @include mq("md") {
    margin-top: 0;
  }
}

.contact__button {
  margin-top: rem(39);
  text-align: center;
  @include mq("md") {
    margin-top: rem(40);
  }
}