@use "global" as *;

.footer {
  background-color: $green1;
  padding: rem(80) 0;
  position: relative;
}

.footer__head {
  @include mq("md") {
    display: flex;
    gap: rem(40);
  }
}

.footer__logo {
  width: rem(120);
  @include mq("md") {
    width: rem(200);
  }
}

.footer__sns {
  padding-top: rem(39);
}

.footer__sns-items {
  display: flex;
  gap: rem(16);
}

.footer__sns-item img {
  width: rem(20);
  @include mq("md") {
    width: rem(32);
  }
}

.footer__nav-wrap {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(12);
  }
}

.footer__copyright {
  font-size: rem(12);
  line-height: calc(18 / 12);
  font-family: $second-font-family;
  color: $white;
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    font-size: rem(14);
    margin-top: rem(64);
    letter-spacing: 0.08em;
  }
}