@use "global" as *;

.mv {
  position: relative;
  min-height: rem(400);
  height: 100vh;
}

.mv__inner {
  height: inherit;
}

.mv__header {
  text-align: center;
  z-index: 10;
  position: absolute;
  color: $white;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  @include mq("md") {
  top: 55.5%;
  left: 50.5%;
  }
}

.mv__title {
  font-size: rem(40);
  font-weight: $regular;
  font-family: $third-font-family;
 letter-spacing: 0.17em;
  text-transform: uppercase;
  @include mq("md") {
    font-size: rem(80);
    line-height: calc(100 / 80);
  }

}

.mv__text {
  font-size: rem(20);
  font-family: $second-font-family;
  font-weight: $regular;
  text-align: center;
}

.mv__swiper {
  height: inherit;
  width: 100%;
}

.mv__img,
.mv__img picture,
.mv__img img {
  height: inherit;
}

.mv__img img {
  object-fit: cover;
}