@use "global" as *;

.nav__content {
  display: flex;
  gap: rem(8);
  margin-top: rem(27);
  @include mq("md") {
    gap: rem(16);
    margin-top: rem(12);
  }
}

.nav__content.nav__content--gap {
  gap: rem(18);
  @include mq("md") {
    gap: rem(16);
  }
}

.nav__wrap1 {
  @include mq("md") {
    display: flex;
    gap: rem(120);
    width: 50%;
  }
}

.nav__unit2 {
  margin-top: rem(16);

  @include mq("md") {
    margin-top: 0;

  }
}

.nav__wrap2 {
  @include mq("md") {
    display: flex;
    gap: rem(120);

  }
}

.nav__title {
  font-size: rem(16);
  line-height: calc(18 / 16);
  font-family: $base-font-family;
  font-weight: $bold;
  color: $white;
  padding: rem(12) 0;
  white-space: nowrap;
}

.nav__item a:hover {
  opacity: 0.7;
}

.nav__title::before {
  display: inline-block;
  content: "";
  background-image: url(../images/common/starfish.png);
  background-size: contain;
  vertical-align: bottom;
  background-repeat: no-repeat;
  width: rem(18);
  height: rem(18);
  margin-right: rem(4);
}

.nav__text {
  font-size: rem(16);
  line-height: calc(18 / 16);
  font-family: $base-font-family;
  font-weight: $regular;
  color: $white;
  padding: rem(12) 0 rem(12) rem(22);
  white-space: nowrap;
}

.nav__single-unit {
  margin-top: rem(16);
}

.nav__unit3 .nav__item:nth-of-type(2) {
  margin-top: rem(16);
}

.nav__wrap2 .nav__items:first-child .nav__single-unit:nth-of-type(1) {
  margin-top: 0;
}

.nav__wrap2 .nav__items:nth-child(2) .nav__item:nth-child(2) .nav__single-unit:nth-of-type(1) {
  padding-left: 1.375em;
  text-indent: -1.375em;
}

.nav__wrap2 .nav__items:nth-child(2) .nav__item:first-child .nav__single-unit {
  @include mq("md") {
    margin-top: 0;
  }
}