@use "global" as *;

.nav__content {
  display: flex;
  justify-content: center;
  gap: rem(6);
  padding-top: rem(92);
  padding-bottom: rem(111);
  padding-left: rem(15);
  padding-right: rem(15);
}

.nav__unit2 {
  margin-top: rem(16);
}

.nav__unit3 {
  margin-top: rem(16);
}

.nav__title {
  font-size: rem(16);
  line-height: calc(18 / 16);
  font-family: $base-font-family;
  font-weight: $bold;
  color: $white;
  padding: rem(12) 0;
}

.nav__title::before {
  display: inline-block;
  content: "";
  background-image: url(../images/common/starfish.png);
  background-size: contain;
  vertical-align: bottom;
  background-repeat: no-repeat;
  width: rem(18);
  height: rem(18);
  margin-right: rem(4);
}

.nav__text {
  font-size: rem(16);
  line-height: calc(18 / 16);
  font-family: $base-font-family;
  font-weight: $regular;
  color: $white;
  padding: rem(12) 0 rem(12) rem(22);
}

.nav__single-unit {
  margin-top: rem(16);
}

.nav__wrap2 .nav__single-unit:nth-of-type(1) {
  margin-top: 0;
}

.nav__wrap2 .nav__single-unit:nth-of-type(4) .nav__title {
  padding-left: 1.375em;
  text-indent: -1.375em;
}