@use "global" as *;

.nav__content {
  display: flex;
  gap: rem(8);
  margin-top: rem(27);
  @include mq("md") {
    gap: rem(16);
    margin-top: rem(12);
  }
}


.nav__wrap1 {
  flex-grow: 1;
  @include mq("md") {
    display: flex;
    gap: rem(120);
    width: 50%;
  }
}

.nav__wrap2 {
  flex-grow: 1;
  @include mq("md") {
    display: flex;
    gap: rem(120);
    width: 48%;
  }
}

.nav__menu-title {
  display: inline-block;
  font-size: rem(16);
  line-height: calc(18 / 16);
  font-weight: $bold;
  color: $white;
  padding: rem(12) 0;
}

.nav__menu-title {
  padding-left: 1.375em;
  text-indent: -1.375em;
}

.nav__menu-title:hover,
.nav__menu-lists a:hover {
  @include mq("md") {
    opacity: 0.7;
  }
}

.nav__menu-title::before {
  display: inline-block;
  content: "";
  background-image: url(../images/common/starfish.png);
  background-size: contain;
  vertical-align: bottom;
  background-repeat: no-repeat;
  width: rem(18);
  height: rem(18);
  margin-right: rem(4);
}

.nav__menu-lists li {
  font-size: rem(16);
  line-height: calc(18 / 16);
  font-weight: $regular;
  color: $white;
  padding: rem(12) 0 rem(12) rem(22);
  white-space: nowrap;
}

.nav__menu-title-blok {
  margin-top: rem(16);
}

.nav__menu-title-blok--margin {
  @include mq("md") {
    margin-top: 0;
  }
}
