@use "global" as *;



.section-header__engTitle {
  font-size: rem(32);
  line-height: calc(40 / 32);
  font-family: $second-font-family;
  font-weight: $regular;
  text-align: center;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-header__engTitle--large {
  font-size: rem(80);
  line-height: 1;
  @include mq("md") {
    font-size: rem(80);
  }
}

.section-header__engTitle::first-letter  {
  color: $green1;
}

.section-header__engTitle--white {
  @include mq("md") {
    color: $white;
  }
}

.section-header__engTitle--white::first-letter {
  @include mq("md") {
    color: $white;
  }
}

.section-header__jpnTitle {
  font-size: rem(12);
  line-height: calc(18 / 12);
  font-weight: $regular;
  color: $green1;
  text-align: center;
  margin-top: rem(4);
  @include mq("md") {
    margin-top: rem(8);
  }
}

.section-header__jpnTitle--white {
  @include mq("md") {
    color: $white;
  }
}

.section-header__jpnTitle.section-header__jpnTitle--large {
  font-size: rem(14);
  line-height: calc(18 / 14);
}

.section-header__jpnTitle.section-header__jpnTitle--margin {
  margin-top: rem(-7);
}