@use "global" as *;

.topMv {
  position: relative;
  height: 100vh;
}

.topMv__inner {
  height: inherit;
}

.topMv__header {
  z-index: 10;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
}

.topMv__title {
  font-size: rem(40);
  font-weight: $regular;
  font-family: $third-font-family;
  letter-spacing: 0.054em;
  text-transform: uppercase;
  @include mq("md") {
    font-size: rem(80);
    line-height: calc(100 / 80);
  }

}

.topMv__text {
  font-size: rem(20);
  font-family: $second-font-family;
  line-height: 1;
  text-align: center;
}


.topMv__img,
.topMv__img picture,
.topMv__img img {
  height: inherit;
}

.topMv__img img {
  object-fit: cover;
}